*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#07111f;
color:#fff;
overflow-x:hidden;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#081827;
position:sticky;
top:0;
z-index:1000;
box-shadow:0 5px 15px rgba(0,0,0,.4);
}

.logo{
font-size:30px;
font-weight:bold;
color:#00d4ff;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:#fff;
text-decoration:none;
transition:.3s;
}

nav a:hover{
color:#00d4ff;
}

.hero{
padding:80px 20px;
text-align:center;
}

.hero h1{
font-size:60px;
line-height:1.2;
}

.hero span{
color:#00d4ff;
}

.hero p{
margin-top:20px;
font-size:18px;
color:#cbd5e1;
}

#search{
margin-top:35px;
width:420px;
max-width:90%;
padding:16px;
font-size:18px;
border:none;
outline:none;
border-radius:50px;
background:#fff;
color:#000;
}

.market{
padding:60px 8%;
}

.market h2{
font-size:38px;
margin-bottom:40px;
text-align:center;
}

.coin-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:30px;
}

.coin-link{
text-decoration:none;
color:white;
}

.card{
background:rgba(255,255,255,.06);
border:1px solid rgba(255,255,255,.08);
backdrop-filter:blur(12px);
padding:25px;
border-radius:18px;
text-align:center;
transition:.4s;
}

.card:hover{
transform:translateY(-12px);
box-shadow:0 0 25px #00d4ff;
}

.card img{
width:80px;
height:80px;
margin-bottom:20px;
}

.card h2{
margin-bottom:8px;
}

.card h3{
margin:15px 0;
font-size:28px;
}

.card h4{
color:#94a3b8;
}

.card hr{
margin:20px 0;
border:1px solid rgba(255,255,255,.1);
}

.green{
color:#22c55e;
font-weight:bold;
margin-bottom:10px;
}

.red{
color:#ef4444;
font-weight:bold;
margin-bottom:10px;
}

.card h5{
margin-top:10px;
font-size:18px;
color:#00d4ff;
}

footer{
padding:30px;
text-align:center;
background:#081827;
margin-top:60px;
color:#94a3b8;
}

/* Scrollbar */

::-webkit-scrollbar{
width:8px;
}

::-webkit-scrollbar-thumb{
background:#00d4ff;
border-radius:20px;
}

::-webkit-scrollbar-track{
background:#081827;
}

/* Background Glow */

body::before{
content:"";
position:fixed;
width:400px;
height:400px;
background:#00d4ff22;
filter:blur(120px);
top:-150px;
left:-150px;
z-index:-1;
}

body::after{
content:"";
position:fixed;
width:450px;
height:450px;
background:#2563eb22;
filter:blur(120px);
right:-150px;
bottom:-150px;
z-index:-1;
}

/* Mobile */

@media(max-width:768px){

nav{
flex-direction:column;
gap:15px;
}

.hero h1{
font-size:38px;
}

.market h2{
font-size:28px;
}

#search{
width:95%;
}

}
