<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>About | Crypto Tracker</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

</head>

<body>

<nav>

<div class="logo">

<i class="fa-brands fa-bitcoin"></i>

CryptoTracker

</div>

<ul>

<li><a href="/">Home</a></li>

<li><a href="/about">About</a></li>

</ul>

</nav>

<section class="hero">

<h1>

About

<span>Crypto Tracker</span>

</h1>

<p>

Crypto Tracker is a professional cryptocurrency dashboard
built using Flask and CoinGecko API.

Track live crypto prices,
market capitalization,
24 hour changes,
coin rankings,
and detailed market statistics.

</p>

</section>

<section class="market">

<div class="coin-container">

<div class="card">

<i class="fa-solid fa-chart-line"
style="font-size:55px;color:#00d4ff;"></i>

<h2>Live Prices</h2>

<p>

Real-time cryptocurrency market prices.

</p>

</div>

<div class="card">

<i class="fa-solid fa-coins"
style="font-size:55px;color:#00d4ff;"></i>

<h2>Top Coins</h2>

<p>

Track Bitcoin,
Ethereum,
BNB,
Solana,
XRP and many more.

</p>

</div>

<div class="card">

<i class="fa-solid fa-magnifying-glass"
style="font-size:55px;color:#00d4ff;"></i>

<h2>Search</h2>

<p>

Instantly search any cryptocurrency.

</p>

</div>

<div class="card">

<i class="fa-solid fa-mobile-screen"
style="font-size:55px;color:#00d4ff;"></i>

<h2>Responsive</h2>

<p>

Works perfectly on
Desktop,
Tablet
and Mobile.

</p>

</div>

<div class="card">

<i class="fa-solid fa-shield-halved"
style="font-size:55px;color:#00d4ff;"></i>

<h2>Secure API</h2>

<p>

Powered by the
CoinGecko
public API.

</p>

</div>

<div class="card">

<i class="fa-solid fa-code"
style="font-size:55px;color:#00d4ff;"></i>

<h2>Open Source</h2>

<p>

Developed using

Python,

Flask,

HTML,

CSS

and

JavaScript.

</p>

</div>

</div>

</section>

<footer>

<p>

© 2025 Crypto Tracker

</p>

<footer>

    <div class="footer-content">

        <h3>Crypto Tracker</h3>

        <p>Real-Time Cryptocurrency Market Dashboard</p>

        <p class="developer">
            🚀 Design & Developed by <strong>ANKIT SAINI</strong>
        </p>

        <p class="copyright">
            © 2026 Crypto Tracker. All Rights Reserved.
        </p>

    </div>

</footer>
